#nav{
    background: navy;
    height: 5vh;
}
/* HEADER */
#header{
    background-image:url(../img/background.jpg); 
    height: 15vh;
}
/* MAIN */
.slide{
    background: #000;
    height: 45vh;
    position: relative;
    overflow: hidden;
}
.form{
    background: bisque;
    height: 45vh;
}
.txt{
    background: rosybrown;
    height: 10vh;
}
.chat{
    background: darkblue;
    height: 10vh;
}
/* FOOTER */
.footer{
    background: red;
    height: 10vh;
}