
/* HEADER */
#header{
    background: navy;
    height: 10vh;
}
/* MAIN */
.slide{
    background: #000;
    height: 10vh;
}
.form{
    background: bisque;
    height: 10vh;
}
.txt{
    background: rosybrown;
    height: 10vh;
}
.chat{
    background: darkblue;
    height: 10vh;
}
/* FOOTER */
.footer{
    background: red;
    height: 10vh;
}