.container-fluid{
    padding: 0 0;
}

header{
    background:url(../img/background.jpg);
    height: 10rem;
}

header nav{
    background: #061339;
    height: 2rem;
}
header nav a{
    color: white;
}
h1{
    text-align: center;
    color: white;
    padding: 2rem;
    font-family: 'Merienda', cursive;
    
}
header a{
    font-family: 'Merienda', cursive;

}
.form-group button{
    margin-top: .7rem;
}
#slider{
    /* background: green; */
    height: 27.5rem;
}


#form{
    /* background: purple; */
    height: 17rem;
}
#formSlide{
    background: whitesmoke;
}

h2{
    font-family: 'Merienda', cursive;
    color: rgb(35, 48, 82)
}
h3{
    font-family: 'Merienda', cursive;
    font-size: 1.5rem;
    color: rgb(35, 48, 82);
}
#txt{
    /* background: #7885A5; */
    height: 19rem;
}
#logo{
    background: gainsboro;
}

#cat{
    /* background: #7885A5; */
    height: 19rem;
}
#cat img{
    background: #7885A5;
    width: 100%;
    margin-top: 2rem;
}
#cat img:hover{
    background: #061339;
}

footer{
    background: #061339;
    height: 2rem;
}
footer span{
    color: white;
    display: flex;
    justify-content: end;
}